{# vim: set fileencoding=utf-8 ff=unix nowrap tabstop=2 shiftwidth=2 softtabstop=2 smarttab shiftround expandtab : #}
{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}Tin Khan{% endblock %}

{% block content %}

<div class="hero-unit">

  <h1>{% trans 'What is Tin Khan?' %}</h1>
  <p>
    <em>Tin Khan</em> allows you to bring the experiences of your organization's learners from <em>Khan Academy</em> into your organization's <em>Tin Can</em> capable learning record store.
  </p>
    <p>
      <em>Khan Academy</em> activities such as watching videos, practicing on exercises, and earning badges are converted into Tin Can statements that are sent to your organization's <abbr title="Learning Record Store" class="initialism">LRS</abbr>.
    </p>
  <p><a href="{% url "registration_register" %}" class="btn btn-primary btn-large">{% trans 'Create an account to try it out' %} &raquo;</a></p>
</div>

{% endblock %}
