{# vim: set fileencoding=utf-8 ff=unix nowrap tabstop=2 shiftwidth=2 softtabstop=2 smarttab shiftround expandtab : #}
{% extends "base.html" %}
{% load i18n bootstrap %}
{% load url from future %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Configure Tin Can Endpoint" %}</h1>
</div>

<form method="post" action="." class="form-horizontal">
  {% csrf_token %}
  <fieldset>
  {{ form|bootstrap }}
  </fieldset>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Save Changes to Endpoint" %}">
    <a href="{% url "profiles_profile_detail" user.username %}" class="btn btn-danger">Discard Changes</a>
  </div>
</form>
{% endblock %}
